*{margin:0;}
*{padding:0;}
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.idonno {
  display:inline;
  z-index: 999;
  position: auto
}
.idonno p{
  font-size: 20 px;

}

.idonno ul li {
  display:inline;

}
.main-header {
  background-color: rgba(255, 255, 255, 0.0);

}
#cen{
  display: flex;          
  align-items: center;

}
#navbarToggle {
  display: none;
}

#navbarToggle:checked~.main-header {
  transform: translateY(0);
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-header h1 {
  line-height: 60px;
  margin: 0 15px;
}

.main-menu {
  display: flex;
  position: relative;
}
#main-menu{
  z-index: 999;
}

.main-menu li {
  position: relative;
  transition: .5s;
}

.main-menu li a {
  padding: 0 15px;
  line-height: 60px;
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

.main-menu li:hover {
  background-color: rgb(176, 41, 20);
}

.main-menu>li:hover::after {
  left: 0;
  right: 0;
}

.sub-menu {
  position: absolute;
  left: 50%;
  background-color: rgba(232, 48, 21, 0.8);
  width: 150%;
  text-align: center;
  transform: translateX(-50%);
  display: none;
}

.main-menu li:hover .sub-menu {
  display: block;
}



.material-icons {
  transform: rotate(0);
  transition: .6s;
}

#navbarToggle:checked~.main-header .material-icons {
  transform: rotate(180deg);
}