*{margin:0;}

html ,body{height:100%;}
body{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    z-index: -111;
}

#header{
    position: relative;

    text-align:center;
    left: 0%;
    width: 2031px;
    height: 1400px;
    }
#sidebar_left{
    z-index: -100;
    background-color:#ffffff;
    position: absolute;
    left:0%;
    width:25%;
    height: 100%;;
    text-align:center;
    min-height: 100%;
    display: table;
    }
#sidebar_right{
    z-index:  -111;
    background-color:#ffffff;
    position: absolute;
    left:80%;
    width:20%;
    height: 100%;
    float:right;
    min-height: 100%;
    display: table;
    }
#content{
    min-height: 100%;
    display: table;
    position: relative;
    left:25%;
    width: 55%;
    height:100vh;
    background-color:rgb(255, 255, 255);
    text-align:center;
    z-index: -100;
    }

#footer{
    clear:both;
    background-color:#F6F7F9;
    width: 2030px;
    height:300px;
    text-align:center;
    line-height:80px;
    }

hr.style-one {
    border: 0;
    height: 6px;
    width: 400px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333);
    }
p{font-size:15px} 
#maztitle{
    text-align:left;
    margin: 0%;
    }
#word{
    text-align:left;

    padding: 0 76px;
    }

.title-line {
    height: 1px;
    background: hsla(0,0%,59.2%,.21);
    margin-bottom: 40px;
    border: 100px solid rgb(255, 255, 255);

    text-align:center;
    }
#pich{
    text-align:center;
    }
#dalicoco :hover{
    color: rgb(72, 154, 184);

}
hr.style-one {
    border: 0;
    height: 6px;
    width: 400px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333);
   }  
#letlist {
    height: 325.5px;
    }
#letlist ul li {
    width: 365px;
    margin-bottom: 40px;
    float:left;
    display:inline;
    }

#maztitle{
    color: rgb(0, 0, 0);
    text-align:left;
    }
#maztitle :hover{
    color: rgb(72, 154, 184);
    }
#mazas{
    color: rgb(255, 255, 255);
    text-align:center;
    width: 88px;
    height: 17.4px;
    background: rgb(0, 0, 0);
    }
#maz1{
    text-align:left;
    }
#media{
    text-align:left;
    color: rgb(33, 6, 8);
    }
#readmore{
    margin: 1%;
    color: rgb(0, 0, 0);
    text-align:right;
    }
#readmore :hover{
    color: rgb(223, 28, 28);
    }
#askla{
    margin: 1%;
    color: rgb(0, 0, 0);
    text-align:center;
    }
    #askla :hover{
        color: rgb(223, 28, 28);
        }
#mypage{
    margin: 1%;
    color: rgb(0, 0, 0);
    text-align:center;
    }
    #mypage :hover{
        color: rgb(223, 28, 28);
        }    

#last ul li {
    width: auto;
    display: table;
    display: inline-block;


    text-align:center;

    width: 200px;
    float:left;
    display:inline;
    }
#blank1 {
    border: 0;
    height: 50px;
    width: 460px;
    background: rgb(255, 255, 255);
    }
#blank2 {
    border: 0;
    height: 9px;
    width: 88px;
    background: rgb(255, 255, 255);
    }
#blank3 {
    border: 0;
    height: 22.85px;
    width: 982px;
    background: rgb(255, 255, 255);
    }
#blank4 {
    border: 0;
    height: 500px;
    width: 982px;
    background: rgb(255, 255, 255);
    }
#photo{
    text-align:left;
    }

p{font-size:10px} 

ul.wrap {
    display: table;
    display: inline-block;

    margin: 0 auto;
  }
.pic{width:275px; height:275px;overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}


  